.page-color{
    background-color: rgba(90, 90, 90, 0.94);
}
.neva-color{
    background-color: purple;
}
/*.word-color{
    color: black;
}*/
.text-size{
    padding: 8%;
    width: 50%;
    color: white;
}
.background-margin {
    background-color: grey;
    padding: 2%;
    margin: -2%;
}




.thick-green-border {
    border-color: silver;
    border-width: 3px;
    border-style: solid;
    border-radius: 51%;
  }

.smaller-image {
    width: 71%;
    height: 363px;
    padding: 10px
  }

.background-padding {
    background-color: rgba(241, 240, 240, 0.95);
    padding: 2%;
    margin: -2%;
}
hr.star-bright:after {
    color: #fff;
    background-color: #808080;

}
.text-port{
    color: #888
}
hr.star-bright, hr.star-dark {
    margin: 40px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;

   }

    hr.star-dark:after {
        color: #888;
        background-color: rgba(234, 233, 233, 0.95);

}

    hr.star-bright:after, hr.star-dark:after {
    content: '\f121';
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-size: 2em;
}
@media (min-width: 1023px)
    header hr.star-bright:after, header hr.star-dark:after {
    right: -10px;
}
.hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

form {
    display: block;
    margin-top: 0em;
}
.form-item {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}
.form-item label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}
.form-item input, .form-item textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
    width: 100%;
}
    input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
}